<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${member.MEMNAME}"></title>
</head>
<body>
	<h1><a th:text="${member.MEMNAME}"></a>님 상세정보</h1>
	번호: <p th:text="${member.MEMNO}" style="border-style: double;">번호</p><br />
	성명: <p th:text="${member.MEMNAME}" style="border-style: double;">성명</p><br />
	아이디: <p th:text="${member.MEMID}" style="border-style: double;">아이디</p><br />
	생년월일: <p th:text="${member.BIRTHDATE}" style="border-style: double;">생년월일</p><br />
	이메일: <p th:text="${member.EMAIL}" style="border-style: double;">이메일</p><br />
	전화번호: <p th:text="${member.PHONE}" style="border-style: double;">전화번호</p><br />
	주소: <p th:text="${member.ADDRESS}" style="border-style: double;">주소</p><br />
	입사일: <p th:text="${member.JOINDATE}" style="border-style: double;">입사일</p><br />
	퇴사일: <p th:text="${member.LEAVEDATE}" style="border-style: double;">퇴사일</p><br />
	부서: <p th:text="${member.DEPARTMENT}" style="border-style: double;"></p><br />
	직급: <p th:text="${member.GRADE}" style="border-style: double;"></p><br />
	직책: <p th:text="${member.POSITION}" style="border-style: double;"></p><br />
	급여: <p th:text="${member.SALARY}" style="border-style: double;">급여</p><br />
	가입일: <p th:text="${member.REGDATETIME}" style="border-style: double;">가입일</p><br />
	수정일: <p th:text="${member.MODDATETIME}" style="border-style: double;">수정일</p><br />
	사용여부: <p th:text="${member.ISUSE}" style="border-style: double;">사용여부</p><br />
	<c:if>
		<form th:action="@{/member/modify/{id}(id=${member.MEMNO})}">
			<button type="submit">수정</button>
		</form>
		<form th:action="@{/member/delete/{id}(id=${member.MEMNO})}">
			<button type="submit">회원탈퇴</button>
		</form>
	</c:if>
</body>
</html>